@import "mixins";
@import "variables";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @include container();
}

button {
  @include box-shadow();
  padding: $padding-size;
  outline: 0;
  cursor: pointer;
  min-width: 80px;

  &.primary {
    background-color: blue;
  }
}
